In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

#from functools import reduce
from IPython.display import display as dsp

In [10]:
def rand_samp(dfs, mergeCol, randCodes):
    for df in dfs:
        print('Argh')
        df = df[df[mergeCol].isin(randCodes)]

In [2]:
edu = pd.read_csv('data/SYB61_T07_Education.csv', encoding = "ISO-8859-1")
edu_spend = pd.read_csv('data/SYB61_T09_Public Expenditure on Education.csv', encoding = "ISO-8859-1")
labor = pd.read_csv('data/SYB61_T17_Labour Force and Unemployment.csv', encoding = "ISO-8859-1")
pop = pd.read_csv('data/SYB61_T02_Population, Surface Area and Density.csv', encoding = "ISO-8859-1")
#Source: http://data.un.org/

#Education Enrollment areas.
edu.rename(index = str, columns = {'T07': 'Region Code', 
                                   'Enrolment in primary, secondary and tertiary education levels' : 'Region',
                                   'Unnamed: 2': 'Year','Unnamed: 3' : 'Series','Unnamed: 4': 'Value',
                                   'Unnamed: 5': 'Footnotes', 'Unnamed: 6': 'Source'}, inplace = True)
edu.drop(edu.index[0], inplace = True)
edu.index = range(len(edu))
dsp(edu.head(1))

#Education Expenditure
edu_spend.rename(index = str, columns = {'T09': 'Region Code', 'Public expenditure on education': 'Region',
                                        'Unnamed: 2':'Year', 'Unnamed: 3':'Series', 'Unnamed: 4':'Value',
                                        'Unnamed: 5':'Footnotes', 'Unnamed: 6' : 'Source'}, inplace = True)
edu_spend.drop(edu_spend.index[0], inplace = True)
edu_spend.index = range(len(edu_spend))
dsp(edu_spend.head(1))

#Labor Force
labor.rename(index = str, columns = {'T17':'Region Code','Labour force participation and unemployment': 'Region',
                                    'Unnamed: 2': 'Year', 'Unnamed: 3':'Series', 'Unnamed: 4':'Value','Unnamed: 5':'Footnotes',
                                    'Unnamed: 6': 'Source'}, inplace = True)
labor.drop(labor.index[0], inplace = True)
labor.index = range(len(labor))
dsp(labor.head(1))

#Population
pop.rename(index = str, columns = {'T02':'Region Code','Population, density and surface area': 'Region',
                                    'Unnamed: 2': 'Year', 'Unnamed: 3':'Series', 'Unnamed: 4':'Value','Unnamed: 5':'Footnotes',
                                    'Unnamed: 6': 'Source'}, inplace = True)
pop.drop(pop.index[0], inplace = True)
pop.index = range(len(pop))
dsp(pop.head(1))

#Stitch all Dataframes into one
#print(np.random.choice(edu_spend['Region Code'].unique(),10))

,Region Code,Region,Year,Series,Value,Footnotes,Source
0,1,"Total, all countries or areas",2005,Students enrolled in primary education (thousa...,"678,990",NaN,"United Nations Educational, Scientific and Cul..."

,Region Code,Region,Year,Series,Value,Footnotes,Source
0,4,Afghanistan,2010,Current expenditure other than staff compensat...,9.3,NaN,"United Nations Educational, Scientific and Cul..."

,Region Code,Region,Year,Series,Value,Footnotes,Source
0,1,"Total, all countries or areas",2005,Labour force participation - Total,64.3,Estimate.,"International Labour Organization (ILO), Genev..."

,Region Code,Region,Year,Series,Value,Footnotes,Source
0,1,"Total, all countries or areas",2005,Population mid-year estimates (millions),"6,542.16",NaN,"United Nations Population Division, New York, ..."

In [11]:
dfs = [edu, edu_spend, labor, pop]
randCodes = ['404' '108' '340' '500' '516' '694' '320' '548' '834' '462']
rand_samp(dfs, 'Region Code', randCodes)
dsp(edu.head())

Argh
Argh
Argh
Argh

,Region Code,Region,Year,Series,Value,Footnotes,Source
0,1,"Total, all countries or areas",2005,Students enrolled in primary education (thousa...,"678,990",NaN,"United Nations Educational, Scientific and Cul..."
1,1,"Total, all countries or areas",2005,Gross enrollement ratio - Primary (male),104.8,NaN,"United Nations Educational, Scientific and Cul..."
2,1,"Total, all countries or areas",2005,Gross enrollment ratio - Primary (female),99.8,NaN,"United Nations Educational, Scientific and Cul..."
3,1,"Total, all countries or areas",2005,Students enrolled in secondary education (thou...,"509,100",NaN,"United Nations Educational, Scientific and Cul..."
4,1,"Total, all countries or areas",2005,Gross enrollment ratio - Secondary (male),65.7,NaN,"United Nations Educational, Scientific and Cul..."

In [3]:
#print('Enrolment Demographics:\n', edu['Enrolment Demographic'].unique())
print('Enrolment Series:\n', edu['Series'].unique())

print('Labor Series:\n', labor['Series'].unique())
#print('Region codes:\n', edu['Region Code'].unique())

#print('Enrolment Demographics:\n', edu['Enrolment Demographic'].unique())
#print('Enrolment Series:\n', edu['Series'].unique())

#print('Enrolment Demographics:\n', edu['Enrolment Demographic'].unique())
#print('Enrolment Series:\n', edu['Series'].unique())

Enrolment Series:
 ['Students enrolled in primary education (thousands)'
 'Gross enrollement ratio - Primary (male)'
 'Gross enrollment ratio - Primary (female)'
 'Students enrolled in secondary education (thousands)'
 'Gross enrollment ratio - Secondary (male)'
 'Gross enrollment ratio - Secondary (female)'
 'Students enrolled in tertiary education (thousands)'
 'Gross enrollment ratio - Tertiary (male)'
 'Gross enrollment ratio - Tertiary (female)']
Labor Series:
 ['Labour force participation - Total' 'Unemployment rate - Total'
 'Labour force participation - Male' 'Unemployment rate - Male'
 'Labour force participation - Female' 'Unemployment rate - Female']

In [4]:
#Total, all countries
tot_edu = edu.loc[(edu['Region Code'] == '1'), 
                  ['Year', 'Series', 'Value']]
tot_edu.rename(index = str, columns = {'Series':'Education Demographic','Value':'Edu Measure'}, inplace = True)


tot_labor = labor.loc[(labor['Region Code'] == '1'),
                     ['Year', 'Series', 'Value']]
tot_labor.rename(index = str, columns = {'Series':'Labor Demographic','Value':'Lab Measure'}, inplace = True)


tot_pop = pop.loc[pop['Region Code'] == '1',
                 ['Year','Series', 'Value']]
tot_edu.rename(index = str, columns = {'Series':'Population Demographic','Value':'Pop Measure'}, inplace = True)

#print(tot_pop['Year'].unique())
#print(tot_edu['Year'].unique())
#print(tot_labor['Year'].unique())

#step = pd.merge(tot_labor, tot_pop, on = 'Year', how = 'inner')
#totals = pd.merge(step, tot_edu, on = 'Year', how = 'inner')

#Reset index

totals = pd.concat([tot_edu, tot_labor, tot_pop], axis = 1)
totals.index = range(len(totals))
#totals.rename(index = str, columns = {'Series_x':'Labor Participation Demographic', 'Value_x':'Percent', 
#                                      'Series_y':'Population Demographic', 'Value_y':'Count',
#                                      'Series':'Edication Demographic'}, inplace = True)
dsp(totals.head())

,Year,Education Demographic,Edu Measure,Year,Labor Demographic,Lab Measure,Year,Series,Value
0,2005,Students enrolled in primary education (thousa...,"678,990",2005,Labour force participation - Total,64.3,NaN,NaN,NaN
1,2005,Gross enrollement ratio - Primary (male),104.8,2005,Unemployment rate - Total,6.0,NaN,NaN,NaN
2,2010,Gross enrollement ratio - Primary (male),105.9,2010,Labour force participation - Female,49.4,NaN,NaN,NaN
3,2010,Gross enrollment ratio - Primary (female),103.0,2010,Unemployment rate - Female,6.2,NaN,NaN,NaN
4,2010,Students enrolled in secondary education (thou...,"546,263",2015,Labour force participation - Total,62.1,NaN,NaN,NaN