In [13]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from IPython.display import display as dsp

In [34]:
edu = pd.read_csv('data/SYB61_T07_Education.csv', encoding = "ISO-8859-1")
edu_spend = pd.read_csv('data/SYB61_T09_Public Expenditure on Education.csv', encoding = "ISO-8859-1")
labor = pd.read_csv('data/SYB61_T17_Labour Force and Unemployment.csv', encoding = "ISO-8859-1")

#Education Enrollment areas.
edu.rename(index = str, columns = {'T07': 'Country or Area', 
                                   'Enrolment in primary, secondary and tertiary education levels' : 'Enrolment',
                                   'Unnamed: 2': 'Year','Unnamed: 3' : 'Series','Unnamed: 4': 'Value',
                                   'Unnamed: 5': 'Footnotes', 'Unnamed: 6': 'Source'}, inplace = True)
edu.drop(edu.index[0], inplace = True)
edu.index = range(len(edu))
dsp(edu.head())

#Education Expenditure
edu_spend.rename(index = str, columns = {'T09': 'Country or Area', 'Public expenditure on education': 'Expendditure',
                                        'Unnamed: 2':'Year', 'Unnamed: 3':'Series', 'Unnamed: 4':'Value',
                                        'Unnamed: 5':'Footnotes', 'Unnamed: 6' : 'Source'}, inplace = True)
edu_spend.drop(edu_spend.index[0], inplace = True)
edu_spend.index = range(len(edu_spend))
dsp(edu_spend.head())

#Labor Force
labor.rename(index = str, columns = {'T17':'Country or Area','Labour force participation and unemployment': 'Labor Demographic',
                                    'Unnamed 2': 'Year', 'Unnamed 3':'Series', 'Unnamed 4':'Value','Unnamed 5':'Footnotes',
                                    'Unnamed 6': 'Source'}, inplace = True)
labor.drop(labor.index[0], inplace = True)
labor.index = range(len(edu_spend))
dsp(labor.head())

,Country or Area,Enrolment,Year,Series,Value,Footnotes,Source
0,1,"Total, all countries or areas",2005,Students enrolled in primary education (thousa...,"678,990",NaN,"United Nations Educational, Scientific and Cul..."
1,1,"Total, all countries or areas",2005,Gross enrollement ratio - Primary (male),104.8,NaN,"United Nations Educational, Scientific and Cul..."
2,1,"Total, all countries or areas",2005,Gross enrollment ratio - Primary (female),99.8,NaN,"United Nations Educational, Scientific and Cul..."
3,1,"Total, all countries or areas",2005,Students enrolled in secondary education (thou...,"509,100",NaN,"United Nations Educational, Scientific and Cul..."
4,1,"Total, all countries or areas",2005,Gross enrollment ratio - Secondary (male),65.7,NaN,"United Nations Educational, Scientific and Cul..."

ValueError: Length mismatch: Expected axis has 4198 elements, new values have 8162 elements